@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;900&display=swap');
*{
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
}

body {
  background-color: rgb(26, 28, 48);
}
a {
  color: rgb(125, 125, 125);
  text-decoration: none;
  
}

a:hover {
  color:aliceblue;
}

.reviews-title {
  font-weight: 900;
  font-size: 4rem;
}