@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;900&display=swap');
*{
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: rgb(26, 28, 48);
  /* background-color: aliceblue; */
}
a {
  color:rgb(26, 28, 48);
  text-decoration: none;
}

a:hover {
  color:rgb(0, 0, 0);
}

.reviews-title {
  font-weight: 900;
  font-size: 4rem;
  color: rgb(228, 225, 246);
}

.reviews-box>div {
  background-color: rgb(228, 225, 246);
  width: 100%;
  height: 10rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 1.5rem 0.1rem rgba(205, 205, 241, 0.7);
}

.card-movie-name {
  font-size: 2rem;
  font-weight: bold;
}
.card-titles {
  font-size: 1.2rem;
}

.reviews-aside {
  margin-left: 2rem;
}

.user-icon {
  color:rgb(228, 225, 246);
}

.user-name {
  margin-left: 0.8rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
